# Functions Contd.

## Recursion
* A function calling itself.

```python
def some_function():
    some_function()
```

In [1]:
def fact(n):
    fac = 1
    if n == 0:
        return fac
    for i in range(1, n+1):
        fac *= i
    return fac

In [2]:
fact(5)

120

In [5]:
# factorial using recursion
def fact_recursion(n):
    if n <= 1:
        return 1
    return n * fact_recursion(n - 1)

In [6]:
fact_recursion(5)

120

In [7]:
# [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

def fibo(n):
    sequence = [0, 1]
    if n <= 1:
        return sequence

    count = 1
    while count < n:
        new_value = sequence[count] + sequence[count - 1]
        sequence.append(new_value)
        count += 1
    return sequence

In [10]:
fibo(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

*fib(n) = fib(n-1) + fib(n-2)*

In [11]:
def fibo_recursive(n):
    if n <= 1:
        return 1
    return fibo_recursive(n-1) + fibo_recursive(n-2)

In [12]:
fibo_recursive(10)

89

In [14]:
[fibo_recursive(x) for x in range(10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Standard Deviation

**Standard Deviation**

$\sqrt{\frac{\sum_i^N(x_i - mean)^2}{N}}$

In [15]:
sum([10, 18, 15, 12, 11, 17, 13, 16, 14])

126

In [17]:
def std(values):
    n = len(values)
    sum_val = sum(values)
    mean = sum_val / n
    summation = 0
    for x in values:
        summation += (x - mean) ** 2
    standard_deviation = (summation / n) ** 0.5
    return standard_deviation
    
l = [10, 18, 15, 12, 11, 17, 13, 16, 14]
std(l)

2.581988897471611

# Class and Objects


```python
class class_name:
    def class_functions():
        pass
```

In [18]:
class Vehicle:
    def __init__(self, wheels, brand, vehicle_type, seats, engine, fuel, colour):
        self.wheels = wheels
        self.brand = brand
        self.vehicle_type = vehicle_type
        self.seats = seats
        self.engine = engine
        self.indhan = fuel
        colour = colour

In [19]:
veh1 = Vehicle(4, 'Aston Martin', 'Coupe', 2, 'V8', 'Petrol', 'Red')

In [20]:
type(veh1)

__main__.Vehicle

In [21]:
veh1.brand

'Aston Martin'

In [22]:
veh1.indhan

'Petrol'

In [23]:
veh1.colour

AttributeError: 'Vehicle' object has no attribute 'colour'

In [24]:
class Vehicle:
    def __init__(self, wheels, brand, vehicle_type, seats, engine, fuel, colour):
        self.wheels = wheels
        self.brand = brand
        self.vehicle_type = vehicle_type
        self.seats = seats
        self.engine = engine
        self.indhan = fuel
        self.colour = colour
    def display_info(self,):
        message = f'''
        This is a {self.vehicle_type} from {self.brand}.
        This has {self.wheels} wheels and {self.seats} seats.
        This has {self.engine} engine, it takes {self.indhan}.
        It is {self.colour} in colour.
        '''
        print(message)

In [25]:
veh2 = Vehicle(4, 'Aston Martin', 'Sports Car', 2, 'V8', 'Petrol', 'Blue')

In [26]:
veh2.display_info()

        This is a Sports Car from Aston Martin.
        This has 4 wheels and 2 seats.
        This has V8 engine, it takes Petrol.
        It is Blue in colour.

In [27]:
veh2.engine

'V8'

In [28]:
veh2.engine = 'big'

In [29]:
veh2.display_info()

        This is a Sports Car from Aston Martin.
        This has 4 wheels and 2 seats.
        This has big engine, it takes Petrol.
        It is Blue in colour.

In [30]:
class Person:
    def __init__(self, name, age, sex, houses, atm_pin):
        self.name = name # Public Variable
        self.age = age # Public Variable
        self.gender = sex # Public Variable
        self._houses = houses # Emulating Protected Variable
        self.__atm_pin = atm_pin # Emulating Private Variable
    def display_info(self, ):
        message = f"""
        Hello, My name is {self.name}, I am {self.age} years. I am a {self.gender},
        I have {self._houses} and my ATM pin is {self.__atm_pin}
        """
        print(message)

In [31]:
p1 = Person('Ghana Shyam', 50, 'Male', 2, 1234)
p1.display_info()

        Hello, My name is Ghana Shyam, I am 50 years. I am a Male,
        I have 2 and my ATM pin is 1234

In [32]:
p1.name

'Ghana Shyam'

In [33]:
p1.gender

'Male'

In [35]:
p1._houses

2

In [37]:
# p1.__atm_pin
p1._Person__atm_pin

1234

In [39]:
p2 = Person('Radha Piyari', 45, 'Female', 1, 4622)

In [40]:
p2.display_info()

        Hello, My name is Radha Piyari, I am 45 years. I am a Female,
        I have 1 and my ATM pin is 4622