# Package/Library usage in Python

## Random in Python

In [1]:
import random

In [2]:
random.seed(666)

In [3]:
random.randint(1, 100)

59

In [4]:
[random.randint(100, 200) for i in range(10)]
# [148, 155, 136, 164, 101, 170, 170, 199, 191, 142]

[148, 155, 136, 164, 101, 170, 170, 199, 191, 142]

In [5]:
moves = ['up', 'down', 'left', 'right']

In [55]:
random.choice(moves) # For single choice

'down'

In [58]:
random.choices(moves, k=2) # for multi moves

['left', 'down']

## Permutations and Combinations

* Permutation = $\frac{N!}{(N-R)!}$
* Combination = $\frac{N!}{(N-R)!R!}$

In [59]:
from itertools import permutations, combinations

In [60]:
names = ['Babu Rao', 'Anuradha Mam', 'Raju', 'Shyam', 'Devi Prasad']

In [61]:
permut_list = permutations(names, 3)

In [62]:
permut_list = list(permut_list)
permut_list

[('Babu Rao', 'Anuradha Mam', 'Raju'),
 ('Babu Rao', 'Anuradha Mam', 'Shyam'),
 ('Babu Rao', 'Anuradha Mam', 'Devi Prasad'),
 ('Babu Rao', 'Raju', 'Anuradha Mam'),
 ('Babu Rao', 'Raju', 'Shyam'),
 ('Babu Rao', 'Raju', 'Devi Prasad'),
 ('Babu Rao', 'Shyam', 'Anuradha Mam'),
 ('Babu Rao', 'Shyam', 'Raju'),
 ('Babu Rao', 'Shyam', 'Devi Prasad'),
 ('Babu Rao', 'Devi Prasad', 'Anuradha Mam'),
 ('Babu Rao', 'Devi Prasad', 'Raju'),
 ('Babu Rao', 'Devi Prasad', 'Shyam'),
 ('Anuradha Mam', 'Babu Rao', 'Raju'),
 ('Anuradha Mam', 'Babu Rao', 'Shyam'),
 ('Anuradha Mam', 'Babu Rao', 'Devi Prasad'),
 ('Anuradha Mam', 'Raju', 'Babu Rao'),
 ('Anuradha Mam', 'Raju', 'Shyam'),
 ('Anuradha Mam', 'Raju', 'Devi Prasad'),
 ('Anuradha Mam', 'Shyam', 'Babu Rao'),
 ('Anuradha Mam', 'Shyam', 'Raju'),
 ('Anuradha Mam', 'Shyam', 'Devi Prasad'),
 ('Anuradha Mam', 'Devi Prasad', 'Babu Rao'),
 ('Anuradha Mam', 'Devi Prasad', 'Raju'),
 ('Anuradha Mam', 'Devi Prasad', 'Shyam'),
 ('Raju', 'Babu Rao', 'Anuradha Mam'),
 ('Raju', 'Babu Rao', 'Shyam'),
 ('Raju', 'Babu Rao', 'Devi Prasad'),
 ('Raju', 'Anuradha Mam', 'Babu Rao'),
 ('Raju', 'Anuradha Mam', 'Shyam'),
 ('Raju', 'Anuradha Mam', 'Devi Prasad'),
 ('Raju', 'Shyam', 'Babu Rao'),
 ('Raju', 'Shyam', 'Anuradha Mam'),
 ('Raju', 'Shyam', 'Devi Prasad'),
 ('Raju', 'Devi Prasad', 'Babu Rao'),
 ('Raju', 'Devi Prasad', 'Anuradha Mam'),
 ('Raju', 'Devi Prasad', 'Shyam'),
 ('Shyam', 'Babu Rao', 'Anuradha Mam'),
 ('Shyam', 'Babu Rao', 'Raju'),
 ('Shyam', 'Babu Rao', 'Devi Prasad'),
 ('Shyam', 'Anuradha Mam', 'Babu Rao'),
 ('Shyam', 'Anuradha Mam', 'Raju'),
 ('Shyam', 'Anuradha Mam', 'Devi Prasad'),
 ('Shyam', 'Raju', 'Babu Rao'),
 ('Shyam', 'Raju', 'Anuradha Mam'),
 ('Shyam', 'Raju', 'Devi Prasad'),
 ('Shyam', 'Devi Prasad', 'Babu Rao'),
 ('Shyam', 'Devi Prasad', 'Anuradha Mam'),
 ('Shyam', 'Devi Prasad', 'Raju'),
 ('Devi Prasad', 'Babu Rao', 'Anuradha Mam'),
 ('Devi Prasad', 'Babu Rao', 'Raju'),
 ('Devi Prasad', 'Babu Rao', 'Shyam'),
 ('Devi Prasad', 'Anuradha Mam', 'Babu Rao'),
 ('Devi Prasad', 'Anuradha Mam', 'Raju'),
 ('Devi Prasad', 'Anuradha Mam', 'Shyam'),
 ('Devi Prasad', 'Raju', 'Babu Rao'),
 ('Devi Prasad', 'Raju', 'Anuradha Mam'),
 ('Devi Prasad', 'Raju', 'Shyam'),
 ('Devi Prasad', 'Shyam', 'Babu Rao'),
 ('Devi Prasad', 'Shyam', 'Anuradha Mam'),
 ('Devi Prasad', 'Shyam', 'Raju')]

In [63]:
len(permut_list)

60

In [64]:
comb_list = combinations(names, 3)

In [65]:
comb_list = list(comb_list)
comb_list

[('Babu Rao', 'Anuradha Mam', 'Raju'),
 ('Babu Rao', 'Anuradha Mam', 'Shyam'),
 ('Babu Rao', 'Anuradha Mam', 'Devi Prasad'),
 ('Babu Rao', 'Raju', 'Shyam'),
 ('Babu Rao', 'Raju', 'Devi Prasad'),
 ('Babu Rao', 'Shyam', 'Devi Prasad'),
 ('Anuradha Mam', 'Raju', 'Shyam'),
 ('Anuradha Mam', 'Raju', 'Devi Prasad'),
 ('Anuradha Mam', 'Shyam', 'Devi Prasad'),
 ('Raju', 'Shyam', 'Devi Prasad')]

In [66]:
len(comb_list)

10

## SQL Practice

In [67]:
import sqlite3

In [68]:
conn = sqlite3.connect('db.sqlite3')

In [69]:
cur = conn.cursor()

**Database Operations**
* **C**: Create
* **R**: Read
* **U**: Update
* **D**: Delete

In [70]:
create = """
CREATE TABLE IF NOT EXISTS USER(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
NAME STRING NOT NULL,
ADDRESS STRING NOT NULL,
AGE INTEGER NULL,
GENDER STRING NULL
);
"""

cur.execute(create)

In [71]:
read = "SELECT * FROM USER;" # select everything from user table
data = cur.execute(read)

In [72]:
data.fetchall()

[]

In [73]:
update = """
INSERT INTO USER('NAME', 'ADDRESS', 'AGE')
VALUES('GHANA SHYAM', 'BHAKTAPUR', 50);
"""
cur.execute(update)

In [74]:
read = "SELECT * FROM USER;" # select everything from user table
data = cur.execute(read)
data.fetchall()

[(1, 'GHANA SHYAM', 'BHAKTAPUR', 50, None)]

In [75]:
update = """
INSERT INTO USER('NAME', 'ADDRESS', 'AGE', 'Gender')
VALUES('Radha Piyari', 'Lalitpur', 45, 'F'),
      ('Mithai Lal', 'Sarlahi', 30, 'M'),
      ('Hari Bahadur', 'Kathmandu', 55, 'M'),
      ('Madan Bahadur', 'Kathmandu', 55, 'M');
"""
cur.execute(update)

In [76]:
read = "SELECT * FROM USER;" # select everything from user table
data = cur.execute(read)
data.fetchall()

[(1, 'GHANA SHYAM', 'BHAKTAPUR', 50, None),
 (2, 'Radha Piyari', 'Lalitpur', 45, 'F'),
 (3, 'Mithai Lal', 'Sarlahi', 30, 'M'),
 (4, 'Hari Bahadur', 'Kathmandu', 55, 'M'),
 (5, 'Madan Bahadur', 'Kathmandu', 55, 'M')]

In [77]:
read = "SELECT * FROM USER where age > 50;" # select everything from user table whose age > 50
data = cur.execute(read)
data.fetchall()

[(4, 'Hari Bahadur', 'Kathmandu', 55, 'M'),
 (5, 'Madan Bahadur', 'Kathmandu', 55, 'M')]

In [78]:
read = "SELECT name, age, gender FROM USER where age > 50;" # select everything from user table whose age > 50
data = cur.execute(read)
data.fetchall()

[('Hari Bahadur', 55, 'M'), ('Madan Bahadur', 55, 'M')]

In [79]:
read = "SELECT age, name,gender FROM USER where age > 50;" # select everything from user table whose age > 50
data = cur.execute(read)
data.fetchall()

[(55, 'Hari Bahadur', 'M'), (55, 'Madan Bahadur', 'M')]

In [80]:
read = "SELECT age, name, gender, id FROM USER;" # select everything from user table whose age > 50
data = cur.execute(read)
data.fetchall()

[(50, 'GHANA SHYAM', None, 1),
 (45, 'Radha Piyari', 'F', 2),
 (30, 'Mithai Lal', 'M', 3),
 (55, 'Hari Bahadur', 'M', 4),
 (55, 'Madan Bahadur', 'M', 5)]

In [82]:
read = "SELECT age, name, gender, id FROM USER where id >= 4;" # select everything from user table whose age > 50
data = cur.execute(read)
data.fetchall()

[(55, 'Hari Bahadur', 'M', 4), (55, 'Madan Bahadur', 'M', 5)]

In [83]:
delete = """
DELETE FROM USER WHERE ID=1;
"""
cur.execute(delete)

In [84]:
read = "SELECT * FROM USER;" # select everything from user table
data = cur.execute(read)
data.fetchall()

[(2, 'Radha Piyari', 'Lalitpur', 45, 'F'),
 (3, 'Mithai Lal', 'Sarlahi', 30, 'M'),
 (4, 'Hari Bahadur', 'Kathmandu', 55, 'M'),
 (5, 'Madan Bahadur', 'Kathmandu', 55, 'M')]

In [85]:
conn.close()

# File Handling
**File Handling Modes**

* *w*: Write into files, also overrides the contents
* *r*: Reads the file
* *a*: Appends data into the files, will not override the existing data
* *w+*: write and Read data, will override the existing data
* *r+*: Read and Write data, will override the existing data
* *a+*: Append and Read data, will not override the existing data

In [86]:
file = open('file.txt', 'r')

In [88]:
for each_file in file:
    print(each_file)

In [89]:
message = """
Q: Hello, How are you doing?
A: I am doing fine, Thank you.
"""

In [90]:
file = open('file.txt', 'a+')

In [91]:
file.write(message)

61

In [92]:
file.close()

In [93]:
import numpy

In [94]:
numpy.__version__

'1.23.5'

In [95]:
import pandas
pandas.__version__

'2.0.3'

In [96]:
import matplotlib