# String Manipulation

In [1]:
s = 'Hello from the other side.'

In [2]:
'llo f' in s

True

In [3]:
s[4]

'o'

In [4]:
s[2: : 3]

'l ot h d'

In [5]:
s[::-1]

'.edis rehto eht morf olleH'

In [6]:
s.split()

['Hello', 'from', 'the', 'other', 'side.']

In [7]:
s.split('t')

['Hello from ', 'he o', 'her side.']

In [8]:
s.split('l')

['He', '', 'o from the other side.']

In [9]:
s

'Hello from the other side.'

In [10]:
'apple'.split('p')

['a', '', 'le']

In [11]:
date = '11-oct-2023'
date = date.split('-')
date

['11', 'oct', '2023']

In [12]:
day = date[0]
month = date[1]
year = date[2]

In [13]:
message = f'Today is {day} of {month}, {year}'
print(message)

Today is 11 of oct, 2023

In [14]:
user = 'i_am_groot'

In [15]:
new_user = user.split('_')

In [16]:
new_user

['i', 'am', 'groot']

In [17]:
print(f'{new_user[0]} {new_user[1]} {new_user[2]}')

i am groot

In [18]:
user

'i_am_groot'

In [19]:
user.replace('_', ' ')
# replace(old_value, new_value)

'i am groot'

In [20]:
s = 'This is a string. This string is a single line string.'

In [21]:
multi_line_string = '''
This is a multi line string.
This can hold multiple lines of string.
this is a line.
this in another line.
'''
print(multi_line_string)

This is a multi line string.
This can hold multiple lines of string.
this is a line.
this in another line.

In [22]:
multi_line_string = multi_line_string.strip()
print(multi_line_string)

This is a multi line string.
This can hold multiple lines of string.
this is a line.
this in another line.

In [23]:
multi_line_string = multi_line_string.strip('T')
print(multi_line_string)

his is a multi line string.
This can hold multiple lines of string.
this is a line.
this in another line.

In [24]:
new_String = 'I am feeling hangry. I want a plate of MoMo and a bottle of coke.'
new_String

'I am feeling hangry. I want a plate of MoMo and a bottle of coke.'

In [25]:
new_String.upper().split()

['I',
 'AM',
 'FEELING',
 'HANGRY.',
 'I',
 'WANT',
 'A',
 'PLATE',
 'OF',
 'MOMO',
 'AND',
 'A',
 'BOTTLE',
 'OF',
 'COKE.']

In [26]:
new_String.lower().split()

['i',
 'am',
 'feeling',
 'hangry.',
 'i',
 'want',
 'a',
 'plate',
 'of',
 'momo',
 'and',
 'a',
 'bottle',
 'of',
 'coke.']

In [28]:
name = 'Hari Bahadur'
name = name.split()
fname = name[0]
lname = name[1]
fname, lname

('Hari', 'Bahadur')

# User Input

In [31]:
user_name = input('Enter your name: ')
print(f'Hello to you {user_name}')

Enter your name:  Hari bahadur

Hello to you Hari bahadur

In [33]:
num1 = input('Enter number 1: ')
num1 = float(num1)
num2 = input('Enter number 2: ')
num2 = float(num2)
num1 + num2

Enter number 1:  45
Enter number 2:  52

97.0

In [41]:
name = input('Enter your full name: ')

Enter your full name:  Mithai lal Yadav

In [42]:
name = name.split()
name

['Mithai', 'lal', 'Yadav']

In [43]:
fname = name[0]
lname = name[-1]
print(f'First name: {fname}, Last name: {lname}')

First name: Mithai, Last name: Yadav

# Exceptetion(Error) Handling

```python
try:
    codes_with_possible_error
except (error_type):
    error_handling_code
```

In [47]:
num1 = input('Enter number 1: ')
num1 = float(num1)
num2 = input('Enter number 2: ')
num2 = float(num2)

print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} X {num2} = {num1 * num2}')
try:
    print(f'{num1} / {num2} = {num1 / num2}')
except (ZeroDivisionError):
    print('Cannot Divide by Zero!!!')

Enter number 1:  45
Enter number 2:  0

45.0 + 0.0 = 45.0
45.0 - 0.0 = 45.0
45.0 X 0.0 = 0.0
Cannot Divide by Zero!!!

In [56]:
numbers = input('Enter Number 1 and Number 2: ')
numbers = numbers.split()

num1 = numbers[0]
try:
    num2 = numbers[1]
except IndexError:
    print('Second Number not provided')
    print('Assiging num1 instead')
    num2 = num1
    
num1 = float(num1)
num2 = float(num2)

print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} X {num2} = {num1 * num2}')
try:
    print(f'{num1} / {num2} = {num1 / num2}')
except (ZeroDivisionError):
    print('Cannot Divide by Zero!!!')

Enter Number 1 and Number 2:  6543 0

6543.0 + 0.0 = 6543.0
6543.0 - 0.0 = 6543.0
6543.0 X 0.0 = 0.0
Cannot Divide by Zero!!!

In [52]:
'45'.split()

['45']

In [57]:
l = ['a', 'e', 'i', 'o', 'u']

In [60]:
ind = input('Enetr Index: ')
ind = int(ind)

try:
    print(l[ind])
    print(len(l) / ind)
except (ZeroDivisionError, IndexError):
    print('Either index might be zero, or it might be out of range')

Enetr Index:  3

o
1.6666666666666667

In [67]:
ind = input('Enetr Index: ')
ind = int(ind)

try:
    print(l[ind])
    print(len(l) / ind)
except ZeroDivisionError:
    print('Index equals to zero')
except IndexError:
    print('Index out of range')
except TypeError:
    print(f'Expected data type int, got {type(ind)} instead')

Enetr Index:  5

Index out of range

# Branching/Flow control
```python
if condition_true:
    if_block_statements
else:
    else_block_statements
```

In [69]:
number = 4655

if number == 5:
    print('The number is 5')
else:
    print('The number is not 5')

The number is not 5

In [74]:
number = -64546

if number == 5:
    print('The number is 5')
elif number > 5:
    print('The number is greather than 5')
else :
    print('The number is less than 5')

The number is less than 5