# Function

```python
def function_name(argument1, argument2, ........):
    codes

    return val1, val2, val3, .....

```

In [1]:
# area of four walls
h = 4
l = 10
b = 8
area = 2 * h * (l + b)
area

144

$f(x) = x^2 + 4$

$f(x, y) = x^2 + y^2$

$f(l, b, h)= 2h(l+b)$

In [7]:
def area_of_four_walls(length, bredth, height):
    '''
    Function taking some arguments(length, bredth, height) and returning some output(area_4_walls)
    '''
    area_4_walls = 2 * height * (length + bredth)
    return area_4_walls

In [6]:
area_of_four_walls(12, 8, 5)

200

In [8]:
def area_of_four_walls():
    '''
    Function taking no arguments and returning some output(area_4_walls)
    '''
    length = input('Enetr length of room: ')
    bredth = input('Enetr bredth of room: ')
    height = input('Enetr height of room: ')

    length = float(length)
    bredth = float(bredth)
    height = float(height)
    
    area_4_walls = 2 * height * (length + bredth)
    return area_4_walls

In [10]:
area = area_of_four_walls()

Enetr length of room:  10
Enetr bredth of room:  8
Enetr height of room:  15

In [11]:
area

540.0

In [14]:
def area_of_four_walls():
    '''
    Function taking no arguments and returning no output(area_4_walls)
    '''
    length = input('Enetr length of room: ')
    bredth = input('Enetr bredth of room: ')
    height = input('Enetr height of room: ')

    length = float(length)
    bredth = float(bredth)
    height = float(height)
    
    area_4_walls = 2 * height * (length + bredth)
    print(f'Area of 4 walls is {area_4_walls}')

In [15]:
area_of_four_walls()

Enetr length of room:  45
Enetr bredth of room:  75
Enetr height of room:  10

Area of 4 walls is 2400.0

In [16]:
def circle(r):
    area = 22 / 7 * r * r
    peri = 2 * 22 / 7 * r
    return area, peri

In [17]:
a, p = circle(15)

In [18]:
a

707.1428571428571

In [19]:
p

94.28571428571428

In [20]:
def person_info(name, address, age, gender):
    message = f'Hello, I am {name} of {age} years {gender} from {address}'
    print(message)

In [21]:
person_info('Hari Bahadur', 'Kathmandu', 40, 'male')
# Order matters when the parameters are not specified

Hello, I am Hari Bahadur of 40 years male from Kathmandu

In [22]:
person_info(address='Kathmandu', name='Ram Maya', gender='female', age=44)
# order doesnot matter as long as the parameters are specified

Hello, I am Ram Maya of 44 years female from Kathmandu

In [23]:
person_info('Hari Bahadur', 'Kathmandu', gender='Male', age=55)

Hello, I am Hari Bahadur of 55 years Male from Kathmandu

In [24]:
def calc(a, b):
    addition = a + b
    substraction = a - b
    multiplication = a * b
    try:
        division = a / b
    except ZeroDivisionError:
        division = None
    return addition, substraction, multiplication, division

In [25]:
calc(45, 4)

(49, 41, 180, 11.25)

In [26]:
calc(45, 0)

(45, 45, 0, None)

In [27]:
def show_status(age, children, status='alive'):
    print(f'Age: {age}, children: {children}, Status: {status}')

In [28]:
show_status(40, 2)

Age: 40, children: 2, Status: alive

In [29]:
show_status(40, 2, 'passed away')

Age: 40, children: 2, Status: passed away

In [31]:
def show_status(age, children=0, status='alive'):
    print(f'Age: {age}, children: {children}, Status: {status}')

In [32]:
show_status(15)

Age: 15, children: 0, Status: alive

In [35]:
show_status(children=25, status='alive', age=86)

Age: 86, children: 25, Status: alive

In [36]:
show_status(age='Thirty Three')

Age: Thirty Three, children: 0, Status: alive

In [37]:
show_status(age=12, children=False)

Age: 12, children: False, Status: alive

In [38]:
def area_rect(l:int, b:int):
    a = l * b
    return a

In [42]:
area = area_rect('Hello', 6)
area

'HelloHelloHelloHelloHelloHello'

In [44]:
isinstance(5.0, int)

False

In [45]:
def area_rect(l:int, b:int):
    if isinstance(l, int) and isinstance(b, int):
        a = l * b
        return a
    raise TypeError

In [46]:
area_rect('Hello', 5)

TypeError:

In [49]:
type(6) is int

True

# Lambda Function

```python
func_name = lambda arguments: calculation
```

In [50]:
# find square of given number

def square(x):
    return x * x

In [51]:
square(5)

25

In [52]:
square_lambda = lambda x: x * x

In [53]:
square_lambda(12)

144

In [54]:
# sum of three numbers
sum_three_numbers = lambda a, b, c: a + b + c

In [55]:
sum_three_numbers(5, 4, 2)

11

In [60]:
rect = lambda l, b: (l * b, 2 * (l + b))

In [61]:
rect(5, 4)

(20, 18)

In [64]:
def parent_function():
    a = 5
    
    def child_function():
        pass
    def child_function2():
        print('I am child function 2')
    def child_function3():
        print('I am child Fucntion 3')
    child_function()
    child_function2()
    child_function3()

In [65]:
parent_function()

I am child function 2
I am child Fucntion 3

In [66]:
child_function3()

NameError: name 'child_function3' is not defined

$N! = N \times (N-1) \times (N-2) \times ........ \times 3 \times 2 \times 1$

In [72]:
def fact(n):
    fac = 1
    if n == 0:
        return fac
    for i in range(1, n+1):
        fac *= i
    return fac

In [77]:
fact(45)

119622220865480194561963161495657715064383733760000000000

In [78]:
# swap the values using functions(normal function as well as lambda function)
a = 45
b = 200

In [79]:
def swap(x, y):
    return y, x

In [80]:
a, b = swap(a, b)

In [81]:
a, b

(200, 45)

In [82]:
swap_lambda = lambda x, y: (y, x)

In [83]:
a, b = swap_lambda(a, b)

In [84]:
a, b

(45, 200)

**Standard Deviation**

$\sqrt{\frac{\sum_i^N(x_i - mean)^2}{N}}$